{% assign navigation = site.data.navigations[include.navigation][site.locale] %}

<nav class="nav__list">
    {% if navigation.title %}
        {% if navigation.url %}
            <a href="{{ navigation.url | relative_url }}">
            {% endif %}
            <h3 class="nav__title" style="padding-left: 0;">{{ navigation.title }}</h3>
            {% if navigation.url %}
            </a>
        {% endif %}
    {% endif %}
    <input id="ac-toc" name="accordion-toc" type="checkbox"/>
    <label for="ac-toc">{{ site.data.strings[site.locale].toggle_menu }}</label>
    {% if navigation.children %}
        <ul class="nav__items">
            {% for child in navigation.children %}
                <li>
                    {% if child.url %}
                        <a href="{{ child.url | relative_url }}">
                            <span class="nav__sub-title">{{ child.title }}</span>
                        </a>
                    {% else %}
                        <span class="nav__sub-title">{{ child.title }}</span>
                    {% endif %}

                    {% if child.children %}
                        <ul>
                            {% for child in child.children %}
                                <li>
                                    <a href="{{ child.url | relative_url }}" {% if child.url == page.url %} class="active" {% endif %}>{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</nav>
