<div class="{{ include.type | default: 'list' }}__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
        {% include posts/header.html %}

        {% if include.type == "grid" %}
            {% include posts/thumbnail.html id=post.map %}
        {% endif %}

        {% include posts/meta.html %}

        {% if post.excerpt %}
            <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
        {% endif %}
    </article>
</div>
