{% capture related_routes %}{{site.data.strings[site.locale].related }} {{ site.data.strings[site.locale].routes }}{% endcapture %}

{% if page.id and page.related and site.related_posts.size > 0 %}
    {% comment %}<!-- only show related on a post page when `related: true` -->{% endcomment %}
    <div class="page__related">
        <h2 class="page__related-title">{{ related_routes }}</h2>
        <div class="grid__wrapper">
            {% for post in site.related_posts limit:4 %}
                {% include posts/post.html type="grid" %}
            {% endfor %}
        </div>
    </div>
{% elsif page.id and page.related %}
    {% comment %}<!-- otherwise show recent posts if no related when `related: false` -->{% endcomment %}
    <div class="page__related">
        <h2 class="page__related-title">{{ related_routes }}</h2>
        <div class="grid__wrapper">
            {% for post in site.posts limit:4 %}
                {% if post.id == page.id %}
                    {% continue %}
                {% endif %}
                {% include posts/post.html type="grid" %}
            {% endfor %}
        </div>
    </div>
{% endif %}