---
layout: post
---

{% include google/map/embed.html.liquid %}

{{ content }}

<h2 itemprop="headline">Points of interest</h2>

<ul>
{% for tag in page.tags %}
    <li>
    <!-- {% assign toponym = site.toponyms | find_exp: "toponym", "toponym.title == tag" %} -->
    {% assign toponym = site.toponyms | where_exp: "toponym", "toponym.title == tag" | first %}
    {% if toponym -%}
        <a href="{{ toponym.url | relative_url }}", title="{{ toponym.title }}">{{ toponym.title }}</a>
    {%- else -%}
        {{ tag }}
    {%- endif %}
    </li>
{% endfor %}
</ul>
