---
layout: post
---

{% include google/map/embed.html.liquid %}

{{ content }}

<ul>
    {% for tag in page.tags %}
        {%- for toponym in site.toponyms -%}
            {% if toponym.title contains tag %}<a href="{{ toponym.url | relative_url }}", title="{{ toponym.title | join ', ' }}">{{ tag }}</a>{% endif %}
        {%- endfor %}

        {% include route/toponym.html.liquid toponyms=site.data._toponyms.dromonyms toponym=tag %}
        {% include route/toponym.html.liquid toponyms=site.data._toponyms.drymonyms toponym=tag %}
        {% include route/toponym.html.liquid toponyms=site.data._toponyms.hydronyms toponym=tag %}
        {% include route/toponym.html.liquid toponyms=site.data._toponyms.oikonyms toponym=tag %}
        {% include route/toponym.html.liquid toponyms=site.data._toponyms.oronyms toponym=tag %}
    {% endfor %}
</ul>
