---
layout: default
---

{% include toponym.liquid %}

<div id="main" role="main">
    {% include sidebar.html %}

    <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
        {% if title %}
            <meta itemprop="headline" content="{{ title | markdownify | strip_html | strip_newlines | escape_once }}">
        {% endif %}

        {% if page.excerpt %}
            <meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">
        {% endif %}

        {% if page.date %}
            <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">
        {% endif %}

        {% if page.last_modified_at %}
            <meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">
        {% endif %}

        <div class="page__inner-wrap">
            <header>
                {{ title }}
            </header>

            <section class="page__content" itemprop="text">
                {% if page.toc %}
                    {% include post/toc.html %}
                {% endif %}

                {% capture src %}/assets/images/map/{{ page.temp }}{% endcapture %}
                <div class="archive__item-teaser">
                    <img alt="" src="{{ src }}">
                </div>

                {{ content }}

                {% if page.link %}
                    <div>
                        <a href="{{ page.link }}" class="btn btn--primary">{{ site.data.strings[site.locale].direct_link }}</a>
                    </div>
                {% endif %}
            </section>

            {% include post/meta.html %}

            {% if page.share %}
                {% include social-share.html %}
            {% endif %}

            {% include post/pagination.html %}
        </div>
    </article>

    {% include post/related.html %}
</div>